@tailwind base;
@tailwind components;
@tailwind utilities;


.jost-400 {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.jost-300 {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
.jost-200 {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.noto-sans-jp-300 {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.vt {
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
  